
# deepseek-chat 是 DeepSeek 的对话模型，适合对话场景，支持更丰富的上下文和更自然的交互。
# 只能使用旧版本的openai 的API接口
# OPENAI_API_KEY=""
# OPENAI_API_BASE="https://api.deepseek.com"
# OPENAI_BASE_URL="https://api.deepseek.com/v1"
# MODEL_ID="deepseek-chat"


# duckcoding

OPENAI_API_KEY=""
OPENAI_API_BASE="https://api.duckcoding.ai/v1"
MODEL_ID="gpt-4o"


# aihubmix
# OPENAI_API_KEY=""
# OPENAI_API_BASE="https://aihubmix.com/v1"
# MODEL_ID="coding-glm-5.1-free"

TAVILY_API_KEY=""